/* MOBILE */

.background {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  overflow: hidden;
  z-index: -20;
}

.background img {
  width: 25%;
}

.green-triangle-wrapper {
  width: 100%;
}

.green-triangle {
  background-color: var(--green);
  width: 50rem;
  height: 50rem;
  transform: rotate(45deg);
  position: absolute;
  top: 100vh;
  z-index: -1;
  right: -25rem;
  mix-blend-mode: difference;
}
