/*--- VARIABLES ---*/

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --green: #22cf7a;
  --orange: #f88600;
  --button-hover: #E47E05;
  --background: #131813;

  /* Fonts */
  --light: Sora-Light;
  --regular: Sora-Regular;
  --medium: Sora-Medium;
  --semi-bold: Sora-SemiBold;
  --bold: Sora-Bold;

  /* Font sizes */
  --base-size: 16px;
  --h1: 6rem;
  --h2: 5rem;
  --h3: 2.25rem;
  --h4: 2rem;
  --p: 1rem;
  --p-small: 0.875rem;
  --p-large: 1.125rem;
}

/*--- TYPEFACE ---*/

@font-face {
  font-family: Sora-Bold;
  src: url(../fonts/Sora-Bold.woff2);
}

@font-face {
  font-family: Sora-SemiBold;
  src: url(../fonts/Sora-SemiBold.woff2);
}

@font-face {
  font-family: Sora-Medium;
  src: url(../fonts/Sora-Medium.woff2);
}

@font-face {
  font-family: Sora-Regular;
  src: url(../fonts/Sora-Regular.woff2);
}

@font-face {
  font-family: Sora-Light;
  src: url(../fonts/Sora-Light.woff2);
}

/*--- KEYFRAMES ---*/

@keyframes pulse {
  0% {
    transform: translateY(0.3125rem);
  }
  60% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0.3125rem);
  }
}

/*--- GENERAL ---*/

* {
  box-sizing: border-box;
  margin: 0;
  font-size: var(--base-size);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--regular);
  background-color: var(--background);
  color: var(--white);
}

/* Progress bar acts as scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Progress bar */

div.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: var(--green);
}

main {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-family: var(--bold);
  font-size: var(--h1);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: var(--h2);
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3);
  text-transform: uppercase;
}

h4 {
  font-size: var(--h4);
  line-height: 1.25;
}

/*- Section -*/

section {
  width: 100%;
}

/* button */

.primary-button {
  display: inline-block;
  background-color: var(--orange);
  color: var(--white);
  padding: 1rem 1.5rem;
  transition: 0.2s;
}

.primary-button:hover {
  background-color: var(--button-hover);
}

/* arrow button */

.arrow-button {
  display: none;
}

@media screen and (min-width: 1040px) {
  .arrow-button {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border: none;
    background: none;
    justify-content: center;
  }

  .arrow-button div {
    position: relative;
    width: 4rem;
    height: 5rem;
  }

  .arrow-button .fg,
  .arrow-button .bg {
    position: absolute;
    width: 4rem;
    height: 4rem;
  }

  .arrow-button .fg {
    fill: var(--white);
    transition: top 0.2s ease-in-out;
    top: 1rem;
    animation: pulse 1.75s ease infinite;
  }

  .arrow-button .bg {
    fill: none;
    stroke: var(--white);
    top: 0;
    transform: scale(0.85);
  }

  a.arrow-button:hover .fg {
    top: 0;
    transform: scale(0.85);
    animation: none;
  }
}

