/*--- VARIABLES ---*/

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --green: #22cf7a;
  --background: #1d1d1d;

  /* Fonts */
  --light: Sora-Light;
  --regular: Sora-Regular;
  --medium: Sora-Medium;
  --semi-bold: Sora-SemiBold;
  --bold: Sora-Bold;

  /* Font sizes */
  --base-size: 16px;
  --h1: 6rem;
  --h2: 5rem;
  --h3: 2.25rem;
  --p: 1rem;
  --p-small: 0.875rem;
  --p-large: 1.125rem;
}

/* @fontface */

@font-face {
  font-family: Sora-Bold;
  src: url(../fonts/Sora-Bold.woff2);
}

@font-face {
  font-family: Sora-SemiBold;
  src: url(../fonts/Sora-SemiBold.woff2);
}

@font-face {
  font-family: Sora-Medium;
  src: url(../fonts/Sora-Medium.woff2);
}

@font-face {
  font-family: Sora-Regular;
  src: url(../fonts/Sora-Regular.woff2);
}

@font-face {
  font-family: Sora-Light;
  src: url(../fonts/Sora-Light.woff2);
}

/*--- GENERAL ---*/

* {
  box-sizing: border-box;
  margin: 0;
  font-size: var(--base-size);
}

body {
  font-family: var(--regular);
  background-color: var(--background);
  color: var(--black);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-family: var(--bold);
  font-size: var(--h1);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: var(--h2);
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3);
  text-transform: uppercase;
}

/*- Section -*/

section {
  width: 100%;
}
