footer {
  width: 100%;
  z-index: -2;
}
.footer-container {
  position: relative;
  width: 110%;
  height: 500px;
  z-index: -2;
}

footer img {
  width: 100%;
  top: -50%;
  transform: scale(1.5);
  position: absolute;
  z-index: -2;
}

footer div h4 {
  margin-bottom: 1rem;
  font-size: var(--h2);
  font-family: var(--bold);
  color: white;
}

#footer-text {
  position: absolute;
  top: 0;
  margin: 2rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#footer-text p {
  font-size: var(--p);
  margin-bottom: 1rem;
}

footer button {
  background-color: black;
  color: white;
  font-size: 15px;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
}

/*--- DESKTOP ---*/

@media (min-width: 1040px) {
  .footer-container {
    width: 100%;
  }

  footer img {
    width: 100%;
    top: -260%;
    position: absolute;
    z-index: -10;
    transform: scale(1);
  }

  #footer-text {
    top: 15rem;
    left: 6rem;
  }

  footer div h4 {
    margin-bottom: 1rem;
    font-size: var(--h1);
    font-family: var(--bold);
    color: white;
  }

  footer svg {
    margin-right: 2rem;
  }
}
