/*--- Mobile ---*/

.hero section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  bottom: 6rem;
  left: 4rem;
}

.hero-content h1 {
  color: var(--white);
  font-size: var(--h2);
  margin-bottom: 1rem;
}

.hero-content p {
  color: var(--white);
  font-size: var(--p-large);
}

/*--- Desktop ---*/

@media screen and (min-width: 1440px) {
  .hero-content h1 {
    font-size: var(--h1);
  }
}
