/*--- Mobile ---*/

.hero section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translate(0, -30%);
  padding: 0 1rem;
}

.hero-content h1 {
  color: var(--white);
  font-size: var(--h2);
}

.hero-content p svg {
  fill:var(--white);
  width: 0.5rem;
  height: 0.5rem;
  margin-left: -0.25rem;
}

.hero-content p {
  color: var(--white);
  font-size: var(--h3);
}

.hero-image-wrapper a {
  display: block;
}

.hero-image-wrapper a:hover .fg {
  margin-left: 0;
}

.hero-image-wrapper .fg,
.hero-image-wrapper .bg {
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: 2rem;
  left: 50%;
  transform: translate(0, -50%);
}

.hero-image-wrapper .fg {
  fill:var(--white);
  margin-left: -0.5rem;
  transition: all 0.15s ease-out;
}

.hero-image-wrapper .bg {
  fill: var(--green);
}


/*--- Desktop ---*/

@media screen and (min-width: 1440px) {
  .hero-content {
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
  }

  .hero-content h1 {
    font-size: var(--h1);
  }

  .hero-content p {
    font-size: 40px;
  }
}
