/*--- Mobile ---*/

.hero section {
  width: 100%;
  height: 100vh;
}

.hero-image-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero img,
.unlock-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Center MC on mobile screen */
.hero img {
  object-position: 70%;
}

.hero-content {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translate(0, -30%);
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Adjust heading size here */
.heading {
  width: 17rem;
  height: 13rem;
}

/*--- Desktop ---*/

@media screen and (min-width: 1040px) {
  .hero-content {
    top: 40%;
    transform: translate(0, -40%);
    padding-left: 4rem;
  }

  .heading {
    width: 38rem;
    height: 29rem;
  }
}
