.triangle-wrapper {
  height: 90rem;
  overflow: hidden;
}

.merch-container {
  width: 100%;
  min-height: 600px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  z-index: -999;
}

.merch-content {
  background-color: var(--black);
  padding: 3rem 1.5rem;
  margin: 2rem 1rem;
}

.merch-content h4 {
  width: 100%;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.merch-img img {
  width: 100%;
  transform: scale(1);
  object-fit: cover;
  object-position: center;
}

.merch-content img {
  display: none;
}

.img-container {
  position: relative;
}

.button-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.arrow-button-merch {
  display: block;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: none;
  background: none;
  z-index: 1;
}

.arrow-button-merch.left {
  position: absolute;
  transform: rotate(90deg);
  top: 35%;
  left: 2rem;
}

.arrow-button-merch.right {
  position: absolute;
  transform: rotate(-90deg);
  right: 2rem;
}

.arrow-button-merch .fg,
.arrow-button-merch .bg {
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.arrow-button-merch .fg {
  fill: var(--white);
  transition: top 0.2s ease-in-out;
  top: 1rem;
}

.arrow-button-merch .bg {
  fill: none;
  stroke: var(--white);
  top: 0;
  transform: scale(0.85);
}

.arrow-button-specs:hover .fg {
  top: 0;
  transform: scale(0.85);
}

.arrow-button-merch .fg {
  fill: var(--white);
  transition: top 0.2s ease-in-out;
  top: 1rem;
}

.arrow-button-merch .bg {
  fill: none;
  stroke: var(--white);
  top: 0;
  transform: scale(0.85);
}

.arrow-button-merch:hover .fg {
  top: 0;
  transform: scale(0.85);
}

/* DESKTOP */

@media screen and (min-width: 1040px) {

  .merch-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    z-index: 5;
  }

  .triangle-wrapper .section-title {
    display: none;
  }

  .merch-content img {
    display: block;
    width: 60%;
    margin-bottom: 2rem;
  }

  .section-title-store img {
    width: 40%;
    height: 40%;
  }

  .merch-content,
  .merch-img {
    display: flex;
    flex: 50%;
    z-index: 1;
  }

  .merch-img {
    padding: 5rem;
    position: absolute;
    top: 10%;
    right: 10%;
  }

  .merch-img img {
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .merch-content {
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -1;
    background-color: var(--black);
  }

  .merch-content h4 {
    width: 80%;
    color: var(--white);
    margin-bottom: 2rem;
  }

  .arrow-button-merch.left {
    position: absolute;
    transform: rotate(90deg);
    top: 40%;
    left: 2rem;
  }
}
