/*--- MOBILE ---*/

.specification {
  width: 100%;
}

.spec-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.specification img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  object-position: top;
}

.spec-content {
  width: 100%;
}

.spec-title {
  position: absolute;
  padding: 0 1.5rem;
  top: 1.5rem;
  left: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spec-title h3 {
  font-size: var(--h3);
}

.arrow-button-specs {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: -5rem;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: none;
  background: none;
  justify-content: center;
  transform: rotate(270deg) scale(0.7);
}

.arrow-button-specs div {
  position: relative;
  width: 4rem;
  height: 5rem;
}

.arrow-button-specs .fg,
.arrow-button-specs .bg {
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.arrow-button-specs .fg {
  fill: var(--white);
  transition: top 0.2s ease-in-out;
  top: 1rem;
}

.arrow-button-specs .bg {
  fill: none;
  stroke: var(--white);
  top: 0;
  transform: scale(0.85);
}

.arrow-button-specs:hover .fg {
  top: 0;
  transform: scale(0.85);
}

/* -- SPECS -- */
.specs-item-container-desktop {
  display: none;
  position: absolute;
  bottom: 15rem;
  left: 40%;
  transform: translateX(-40%);
  margin: 1.5rem;
  width: 60%;
}
.specs-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.specs-item .part-1 {
  display: inline-block;
  padding: 1rem;
}

.specs-item-container-2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}

/*--- DESKTOP ---*/

@media screen and (min-width: 1040px) {
  .specification {
    width: 100%;
    height: 59rem;
    margin-top: 5rem;
    overflow: hidden;
  }

  .spec-image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 59rem;
  }

  .specification img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .spec-title {
    position: absolute;
    top: 8rem;
    left: 12rem;
    padding: 0 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .specs-item-container-desktop {
    display: flex;
    bottom: 6rem;
  }

  .specs-item-container-2 {
    display: none;
  }

  .specs-item {
    flex-direction: column;
  }

  .specs-item .part-1 {
    border: 2px solid var(--white);
    margin-bottom: 0.5rem;
  }

  .specs-item .part-2 {
    padding-right: 0;
    padding-top: 0.5rem;
  }
}
