section.unlock  {
  width: 100%;
  height: 53rem;
  overflow: hidden;
  padding: 4rem 0;
  z-index: 2;
}

.section-title {
  margin-bottom: -4rem;
  z-index: 999;
}

.unlock-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.2) rotate(10deg);
}

.unlock-info-box {
  position: absolute;
  color: var(--white);
  width: 40%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 30px;
  z-index: 1;
}

.primary-button {
  background-color: var(--green);
  padding: 0.5rem 1rem;
  display: inline-block;
}

.unlock-info-box p {
  margin-bottom: 2rem;
}

.unlock-info-box h3 {
  margin-bottom: 2rem;
}
