/*--- Mobile ---*/
.heading {
  width: 75%;
}

.hero section {
  width: 100%;
  height: 100vh;
}

.hero-image-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero img,
.unlock-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.hero-content {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translate(0, -30%);
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.hero-content h1 {
  color: var(--white);
  font-size: 56px;
}

.hero-content p {
  color: var(--white);
  font-size: 24px;
}

 .arrow-button {
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: none;
  background: none;
  justify-content: center;
}

.arrow-button div {
  position: relative;
  width: 4rem;
  height: 5rem;
}

.arrow-button .fg,
.arrow-button .bg {
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.arrow-button .fg {
  fill: var(--white);
  transition: top 0.2s ease-in-out;
  top: 1rem;
}

.arrow-button .bg {
  fill: none;
  stroke: var(--white);
  top:0;
  transform: scale(0.85);
}

a.arrow-button:hover .fg {
  top: 0;
  transform: scale(0.85);
}

/*--- Desktop ---*/

@media screen and (min-width: 1440px) {
  .hero-content {
    top: 40%;
    transform: translate(0, -40%);
    padding-left: 4rem;
  }

  .hero-content h1 {
    font-size: var(--h1);
  }

  .hero-content p {
    font-size: 40px;
  }
}
